doctype html
html
    head
        title= title ? title : "Qlip"
        link(rel="stylesheet", href="bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="assets/common.css")

        block head
    body
        block body