extends layout

block body
    section
        a#google(href="/auth/google")
            paper-button(raised="", primary="", role="button", tabindex="0")
                core-icon(icon="lock")
                | &nbsp;Login with google